<a href="https://colab.research.google.com/github/ricardogr07/trabajo-final-aprendizaje/blob/main/src/Analisis_ML_Workflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análisis de dataset

## Importar librerías

In [ ]:
# Correr esta celda unicamente si se hace desde Colab
%pip install pandas numpy ucimlrepo

!git clone https://github.com/ricardogr07/trabajo-final-aprendizaje.git
%cd trabajo-final-aprendizaje/src
from evaluation_functions import *

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.26.4)
Requirement already satisfied: ucimlrepo in /usr/local/lib/python3.10/dist-packages (0.0.7)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: certifi>=2020.12.5 in /usr/local/lib/python3.10/dist-packages (from ucimlrepo) (2024.8.30)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
fatal: destination path 'trabajo-final-aprendizaje' already exists and is not an empty directory.
fatal: not a git repository (or any of the parent directories): .git
/content/trabajo-final-aprendizaje/src

In [ ]:
# Manipulación y análisis de datos
import pandas as pd
import numpy as np


# Visualización de datos
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
import seaborn as sns

## Carga y Preprocesamiento de Datos

En esta sección se carga el conjunto de datos de los archivos .data que contiene información sobre enfermedades cardíacas, disponible en el repositorio de UCI Machine Learning. Las columnas del conjunto de datos se especifican manualmente ya que el archivo no tiene encabezados. El dataset contiene información sobre varios factores de riesgo y el objetivo es predecir la presencia de una enfermedad cardíaca (`target`).

### Carga del dataset

In [6]:
cleveland_data_file_path = '../dataset/cleveland.data'
hungarian_data_file_path = '../dataset/hungarian.data'
switzerland_data_file_path = '../dataset/switzerland.data'
va_data_file_path = '../dataset/va.data'

column_names = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target']

# Cargar todos los datos y generar un solo dataframe
try:
    data_cleveland = pd.read_csv(cleveland_data_file_path, names = column_names)
    data_hungarian = pd.read_csv(hungarian_data_file_path, names = column_names)
    data_switzerland = pd.read_csv(switzerland_data_file_path, names = column_names)
    data_va = pd.read_csv(va_data_file_path, names = column_names)

    # Agregar location como parte de las variables, pues se usan las 4 bases de datos
    data_cleveland['location'] = 0
    data_hungarian['location'] = 1
    data_switzerland['location'] = 2
    data_va['location'] = 3

    df = pd.concat([data_cleveland, data_hungarian, data_switzerland, data_va], ignore_index=True)

except Exception as e:
    print(f"Error reading the file: {e}")

### Exploración inicial del dataset

En esta sección se realiza una inspección de la estructura del conjunto de datos para entender el tipo de variables con las que estamos trabajando. Se revisa la cantidad de entradas, los nombres de las columnas, los tipos de datos, y si hay valores faltantes. Es importante notar que algunas columnas tienen el tipo `object`, lo que indica que pueden contener valores categóricos o valores que no han sido correctamente identificados como numéricos.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       920 non-null    float64
 1   sex       920 non-null    float64
 2   cp        920 non-null    float64
 3   trestbps  920 non-null    object
 4   chol      920 non-null    object
 5   fbs       920 non-null    object
 6   restecg   920 non-null    object
 7   thalach   920 non-null    object
 8   exang     920 non-null    object
 9   oldpeak   920 non-null    object
 10  slope     920 non-null    object
 11  ca        920 non-null    object
 12  thal      920 non-null    object
 13  target    920 non-null    int64
 14  location  920 non-null    int64
dtypes: float64(3), int64(2), object(10)
memory usage: 107.9+ KB

In [8]:
for columna in df.columns:
    valores_unicos = df[columna].unique()
    print(f"Valores únicos en la columna '{columna}':")
    print(valores_unicos)
    print('\n')

Valores únicos en la columna 'age':
[63. 67. 37. 41. 56. 62. 57. 53. 44. 52. 48. 54. 49. 64. 58. 60. 50. 66.
 43. 40. 69. 59. 42. 55. 61. 65. 71. 51. 46. 45. 39. 68. 47. 34. 35. 29.
 70. 77. 38. 74. 76. 28. 30. 31. 32. 33. 36. 72. 73. 75.]


Valores únicos en la columna 'sex':
[1. 0.]


Valores únicos en la columna 'cp':
[1. 4. 3. 2.]


Valores únicos en la columna 'trestbps':
[145.0 160.0 120.0 130.0 140.0 172.0 150.0 110.0 132.0 117.0 135.0 112.0
 105.0 124.0 125.0 142.0 128.0 170.0 155.0 104.0 180.0 138.0 108.0 134.0
 122.0 115.0 118.0 100.0 200.0 94.0 165.0 102.0 152.0 101.0 126.0 174.0
 148.0 178.0 158.0 192.0 129.0 144.0 123.0 136.0 146.0 106.0 156.0 154.0
 114.0 164.0 '130' '120' '140' '170' '100' '105' '110' '125' '150' '98'
 '112' '145' '190' '160' '115' '142' '180' '132' '135' '?' '108' '124'
 '113' '122' '92' '118' '106' '200' '138' '136' '128' '155' '95' '165'
 '80' '185' '126' '152' '116' '0' '144' '154' '104' '134' '178' '146'
 '158' '102' '96' '172' '156' '114' '127']


Valores únicos en la columna 'chol':
[233.0 286.0 229.0 250.0 204.0 236.0 268.0 354.0 254.0 203.0 192.0 294.0
 256.0 263.0 199.0 168.0 239.0 275.0 266.0 211.0 283.0 284.0 224.0 206.0
 219.0 340.0 226.0 247.0 167.0 230.0 335.0 234.0 177.0 276.0 353.0 243.0
 225.0 302.0 212.0 330.0 175.0 417.0 197.0 198.0 290.0 253.0 172.0 273.0
 213.0 305.0 216.0 304.0 188.0 282.0 185.0 232.0 326.0 231.0 269.0 267.0
 248.0 360.0 258.0 308.0 245.0 270.0 208.0 264.0 321.0 274.0 325.0 235.0
 257.0 164.0 141.0 252.0 255.0 201.0 222.0 260.0 182.0 303.0 265.0 309.0
 307.0 249.0 186.0 341.0 183.0 407.0 217.0 288.0 220.0 209.0 227.0 261.0
 174.0 281.0 221.0 205.0 240.0 289.0 318.0 298.0 564.0 246.0 322.0 299.0
 300.0 293.0 277.0 214.0 207.0 223.0 160.0 394.0 184.0 315.0 409.0 244.0
 195.0 196.0 126.0 313.0 259.0 200.0 262.0 215.0 228.0 193.0 271.0 210.0
 327.0 149.0 295.0 306.0 178.0 237.0 218.0 242.0 319.0 166.0 180.0 311.0
 278.0 342.0 169.0 187.0 157.0 176.0 241.0 131.0 '132' '243' '?' '237'
 '219' '198' '225' '254' '298' '161' '214' '220' '160' '167' '308' '264'
 '166' '340' '209' '260' '211' '173' '283' '194' '223' '315' '275' '297'
 '292' '182' '200' '204' '241' '339' '147' '273' '307' '289' '215' '281'
 '250' '184' '245' '291' '295' '269' '196' '268' '228' '358' '201' '249'
 '266' '186' '207' '218' '412' '224' '238' '230' '163' '240' '280' '257'
 '263' '276' '284' '195' '227' '253' '187' '202' '328' '168' '216' '129'
 '190' '188' '179' '210' '272' '180' '100' '259' '468' '274' '320' '221'
 '309' '312' '171' '208' '246' '305' '217' '365' '344' '394' '256' '326'
 '277' '270' '229' '85' '347' '251' '222' '287' '318' '213' '294' '193'
 '271' '156' '267' '282' '117' '466' '247' '226' '265' '206' '288' '303'
 '338' '248' '306' '529' '392' '231' '329' '355' '233' '242' '603' '255'
 '172' '175' '290' '341' '234' '342' '404' '518' '285' '279' '388' '164'
 '336' '491' '205' '212' '331' '393' 0 '0' '236' '177' '203' '153' '316'
 '311' '252' '458' '384' '258' '235' '349' '142' '197' '192' '261' '181'
 '310' '232' '170' '369' '244' '165' '337' '300' '333' '139' '385']


Valores únicos en la columna 'fbs':
[1.0 0.0 '0' '?' '1']


Valores únicos en la columna 'restecg':
[2.0 0.0 1.0 '2' '0' '1' '?']


Valores únicos en la columna 'thalach':
[150.0 108.0 129.0 187.0 172.0 178.0 160.0 163.0 147.0 155.0 148.0 153.0
 142.0 173.0 162.0 174.0 168.0 139.0 171.0 144.0 132.0 158.0 114.0 151.0
 161.0 179.0 120.0 112.0 137.0 157.0 169.0 165.0 123.0 128.0 152.0 140.0
 188.0 109.0 125.0 131.0 170.0 113.0 99.0 177.0 141.0 180.0 111.0 143.0
 182.0 156.0 115.0 149.0 145.0 146.0 175.0 186.0 185.0 159.0 130.0 190.0
 136.0 97.0 127.0 154.0 133.0 126.0 202.0 103.0 166.0 164.0 184.0 124.0
 122.0 96.0 138.0 88.0 105.0 194.0 195.0 106.0 167.0 95.0 192.0 117.0
 121.0 116.0 71.0 118.0 181.0 134.0 90.0 '185' '160' '170' '150' '165'
 '184' '155' '190' '168' '180' '178' '172' '130' '142' '98' '158' '129'
 '146' '145' '120' '106' '132' '140' '138' '167' '188' '144' '137' '136'
 '152' '175' '176' '118' '154' '115' '135' '122' '110' '90' '116' '174'
 '125' '?' '148' '100' '164' '139' '127' '162' '112' '134' '114' '128'
 '126' '124' '153' '166' '103' '156' '87' '102' '92' '99' '121' '91' '108'
 '96' '82' '105' '143' '119' '94' '179' '133' '113' '149' '104' '163' '60'
 '95' '141' '83' '97' '131' '182' '63' '70' '77' '117' '123' '72' '78'
 '109' '86' '93' '67' '157' '84' '111' '80' '107' '161' '69' '88' '73'
 '159' '151']


Valores únicos en la columna 'exang':
[0.0 1.0 '0' '1' '?']


Valores únicos en la columna 'oldpeak':
[2.3 1.5 2.6 3.5 1.4 0.8 3.6 0.6 3.1 0.4 1.3 0.0 0.5 1.6 1.0 1.2 0.2 1.8
 3.2 2.4 2.0 2.5 2.2 2.8 3.0 3.4 6.2 4.0 5.6 2.9 0.1 2.1 1.9 4.2 0.9 1.1
 3.8 0.7 0.3 4.4 5.0 '.7' '.2' '?' '1' '2.8' '0' '-1.1' '1.6' '-1.5' '1.5'
 '2' '.5' '-.1' '-2.6' '2.1' '-.7' '2.2' '3' '.1' '.3' '-2' '-1' '1.8'
 '1.4' '2.6' '.9' '2.4' '1.1' '.4' '2.5' '1.7' '-.8' '-.5' '-.9' '3.7'
 '1.3' '-0.5' '0.5' '4' '3.5' '0.8']


Valores únicos en la columna 'slope':
[3.0 2.0 1.0 '?' '2' '1' '3']


Valores únicos en la columna 'ca':
['0.0' '3.0' '2.0' '1.0' '?' '0' '1' '2']


Valores únicos en la columna 'thal':
['6.0' '3.0' '7.0' '?' '6' '3' '7']


Valores únicos en la columna 'target':
[0 2 1 3 4]


Valores únicos en la columna 'location':
[0 1 2 3]

Al examinar los valores únicos presentes en las columnas se descubre que existen múltiples columnas que contienen el valor '?' en lugar de un valor numérico. Este es un indicador de datos faltantes o incorrectos que deberán ser manejados antes de continuar con el análisis.
Adicionalmente, hay columnas que tienen como valor un `string` en lugar de un `int` o `float`, por lo que va a ser necesario estandarizar estos valores.

### Preprocesar Datos

## Análisis exploratorio de datos

## Selección de modelo usando técnicas de aprendizaje supervisado

### Selección de características

### Validación de balanceo de clases

### Selección de modelo supervisado

### Ajuste de hiperparámetros del modelo

### Evaluación del modelo seleccionado

## Análisis de clúster con aprendizaje no supervisado

### PCA

### Clustering